/* CSS Position */
/* relative 값 */
/* 요소 박스의 원래 위치 */
.like {
  background-color: #000;

  p {
    border: 1px solid red;
    background-color: rgb(255 255 80 /1);
    position: relative;
    bottom: 20px;
    right: 10px;
  }
}

/* fixed 값 */
/* 뷰포트를 기준으로 배치 */
h1 {
  background-color: pink;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 9999;
}

/* absolute 값 */
/* 컨테이닝 블록을 기준으로 배치 */
.bootcamp {
  border: 1px solid blue;
  position: relative;

  span {
    background-color: rgb(100 255 30 / 0.5);
    border: 1px solid black;
    position: absolute;
    top: 20px;
    left: 0;
  }
}

/* sticky 값 */
.frontend {
  background: var(--mint);
  position: sticky;
  top: 0;
}