/* CSS 미디어쿼리 */
/* 스크린 스타일 */
body {
  margin: 50px;
  color: #fff;
  background: #000;
  font-size: clamp(1rem, 2.5vw, 2rem);

  /* 320px 이상의 디바이스 - mobile */
  @media (width >=320px) {
    color: #ffc;
    background: darkblue;
  }

  /* 768px 이상의 디바이스 - tablet */
  @media (width >=768px) {
    color: brown;
    background: pink;
  }

  /* 1280px 이상의 디바이스 - desktop */
  @media (width >=1280px) {
    color: purple;
    background: lightgreen;
  }
}

h1 {
  --spacing: 30px;

  border: 1px solid currentColor;
  width: calc(500px + (var(--spacing) * 2));
  padding: var(--spacing);
}