body{
  margin: 50px;
}

/* 멀티 컬럼 레이아웃 */
.container{
  margin-block-start: 20px;

  div{
    padding: 10px;
  }
}

/* 단 너비 예시 */
/* 구분선 */
.like{
  background: yellow;
  column-width: 200px;
  column-rule: 2px dotted red;
}

/* 단 갯수 예시 */
/* 단 여백 */
.lion{
  background: pink;
  column-count: 2;
  column-rule: 1px solid blue;
  column-gap: 2em;
}

/* 단 너비, 갯수 예시 */
/* 단 전체 사용 */
.bootcamp{
  background: lightgreen;
  columns: 200px 2;

  span{
    font-size: 1.5rem;
    color: #fff;
    background: darkblue;
    display: block;
    column-span: all;
    margin-block: 0.5em;
  }
}