/* CSS 애니메이션 */
body{
  margin: 50px;
}

/* Transition 애니메이션 */
.like{
  border: 5px solid currentColor;
  inline-size: 200px;
  aspect-ratio: 1;
  background: yellow;
  text-align: center;
  align-content: center;
  transition-property: background, border-radius, inline-size;
  transition-duration: 1000ms, 2000ms, 1s;
  transition-delay: 0ms, 1000ms, 0s;
  transition-timing-function: linear;
  
  /* &:hover{
    background: pink;
    border-radius: 50%;
    inline-size: 300px;
  } */

  &.transition{
    background: pink;
    border-radius: 50%;
    inline-size: 300px;
  }
}