:root{
  /* 웹카페 색상 테마 */
  --white: #fff;
  --black: #181818;
  --gray: #7a7a7a;
  --orange-100: #e8852e;
  --orange-200: #ed552f;
  --yellow: #ff0;

  /* 글자 크기 */
  --text-13: .8125rem;
  --text-14: .875rem;
  --text-15: .9375rem;
  
  /* 줄 높이 */
  --leading-base: 1.5;

  /* 여백 및 간격 */
  --spacing-2: .125rem;
  --spacing-4: .25rem;
  --spacing-6: .375rem;
  --spacing-8: .5rem;
  --spacing-10: .625rem;
  --spacing-12: .75rem;
}

/* 폼 스타일링 */
body{
  margin: 50px;
}

/* 컴포넌트 컨테이너 */
.component-wrapper{

  > div{
    margin-block: 1em;
  }
}

/* 입력서식 컴포넌트 스타일링 */
.form-input{
 --input-color: var(--gray);

 font-size: var(--text-14);
 line-height: var(--leading-base);
 
 label{
  display: block;
 }

 input{
  border: 1px solid var(--input-color);
  border-radius: 4px;
  width: 100%;
 }
}

/* 버튼 컴포넌트 스타일링 */
/* 공통 버튼 컴포넌트 스타일링 */
[type="button"], [type="submit"], [type="reset"]{
  border: 0;
  padding: 0;
  background: transparent;
  border-radius: 4px;
  font-size: var(--text-13);
  line-height: var(--leading-base);
}

.fill-button{
  --fill-color: var(--black);

  background: var(--fill-color);
  color: var(--white);
  padding: 4px 12px;
  border: 1px solid var(--fill-color);
}

.outline-button{
  --current-color: var(--orange-200);

 border: 1px solid currentColor;
 color: var(--current-color);
 padding: 4px 12px;
}

/* 하이퍼링크 컴포넌트 */
.icon-link{
  --icon-color: var(--orange-200);

  font-size: var(--text-13);
  
  span{
    font-weight: bold;
    color: var(--icon-color);
  }
}

/* 웹카페 로그인 폼 스타일링 */
.webcafe-login{
  --headline-color: var(--yellow);
  --start-color: var(--orange-100);
  --end-color: var(--orange-200);

  background: var(--end-color) radial-gradient(circle at right top , var(--start-color), var(--end-color));
  padding: var(--spacing-12);
  max-width: 50%;
  min-width: 320px;

  /* 제목 */
  .headline{
    font-size: var(--text-15);
    line-height: var(--leading-base);
    color: var(--headline-color);
    margin-bottom: var(--spacing-8);
  }

  /* 폼 영역, 텍스트 링크 리스트 */
  form, ul{
    --bg-color: var(--white);

    background: var(--bg-color);
  }

  /* 폼 영역 */
  form{
    padding: var(--spacing-8);

    @media (width >= 480px){
      position: relative;
    }
  }

  /* 입력서식 */
  .form-input{
    margin-bottom: var(--spacing-8);

    @media (width >= 480px) {
      width: calc(100% - 68px);
    }

    @media (width >= 480px){
      label{
        display: inline-block;
        width: 56px;
      }
      input{
        width: calc(100% - 56px);
        height: 30px;
      }
    }
  }

  /* 로그인 버튼 */
  button{
    --fill-color: var(--orange-200);

    @media (width >= 480px){
      position: absolute;
      top: 8px;
      right: 8px;
      height: 68px;
      width: 60px;
    }
  }

  /* 링크 텍스트 영역 */
  ul{
    padding: var(--spacing-8);
    display: flow-root;
    border-top: 1px solid var(--gray);
    
    li:first-child{
      float: left;
    }

    li:last-child{
      float: right;
    }
  }
}