/* float 레이아웃 */
body {
  margin: 50px;
}

/* 상품 아이템 컴포넌트 */
.top-brand-item {

  div {
    background: #ccc;
    border-radius: .5rem;
  }

  img {
    /* auto margin 기법 */
    margin-inline: auto;
  }

  figcaption {
    margin-top: 0.5rem;
    text-align: center;
  }
}

/* 상품 리스트 섹션 */
.top-brand-section {
  width: 1300px;
  /* 상자 크기에 영향을 주지 않으면서 테두리 선 스타일링 하기 */
  /* box-shadow: 0 0 0 1px #f00; */
  /* background: #ffc; */

  h2 {
    font-size: .875rem;
    font-weight: 400;
    color: #303033;

    span[lang] {
      display: block;
      color: #000;
      font-weight: 700;
      font-size: 1.25rem;
    }
  }

  ul {
    margin-top: 16px;
    display: flow-root;

    li {
      width: 228px;
      float: left;
      margin-top: 12px;
      margin-right: 40px;
    }

    li:nth-child(5n) {
      margin-right: 0;
    }
  }
}