/* 아바타 이미지는 배경 방식이 아닌 `콘텐츠 이미지`(<img> 요소)로 마크업한다.
- 이미지 `성능 최적화` 방법에 대해 고민해본다.
- 아바타의 `상태 정보`를 알 수 있도록 정보를 제공한다.
- 아바타 이미지의 크기 - 64px X 64px
- 아바타 이미지 여백  - 20px
- 회색 원 배경색 - #dbdbdb
- 초록색 원 배경색- #4cfe88
- 상자의 배경은 그라디언트 효과 없이 흰색(#ffffff)으로 지정한다.
- 상자의 안쪽 여백은 100px로 설정한다. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: inline-block;
  background-color: #ffffff;
  margin: 20px;
}

body {
  background-color: black;
}

h1 {
  background-color: #ffffff;
  display: block;
  border: 1px black solid;
  font-size: xx-small;
  width: 38px;
  position: relative;
  border-radius: 12%;
}

.avatars {
  display: inline-block;
  background-color: #ffffff;
  padding: 100px;
  position: absolute;
}

.woman-avatar {
  background-color: #ffffff;
  display: block;
  height: auto;
  width: auto;
  text-align: center;
}
.man-avatar {
  background-color: #ffffff;

  display: block;
  height: auto;
  width: auto;
  text-align: center;
}

.avatar {
  display: inline-block;
  padding: 10px;
  position: relative;
}

.avatar img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.online {
  background-color: #4cfe88;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  right: 15%;
  bottom: 15%;
  position: absolute;

  border: solid 1.5px white;
}

.offline {
  background-color: #dbdbdb;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  right: 15%;
  bottom: 15%;
  position: absolute;

  border: solid 1.5px white;
}
